#header {
  background-color: #1A242E;
  padding: 10px 0;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      a {
        font-weight: 900;
        font-size: 17px;
        color: #fff;
        text-decoration: none;
      }
    }
    .user {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}
