#home {
  padding: 60px 0;
  .home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    a {
      text-decoration: none;
    }
    .card {
      background-color: rgba(0, 0, 0, 0.726);
      transition: all 0.4s;
      &:hover {
        transform: scale(1.1);
      }
      cursor: pointer;
      .img {
        img {
          width: 215px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
      .info {
        width: 200px;
        padding: 10px;
        background-color: rgba(56, 56, 56, 0.726);
        color: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
